@media (max-width: 1194px) {
  .container {
    width: 724px;
    padding: 0 10px;
  }
  .top-text {
    display: none;
  }

  .header-inner__top {
    justify-content: flex-end;
    padding: 10px 2px;
  }
  .header__search {
    display: none;
  }
  .header__right-div {
    margin-left: 190px;
  }
  .header__search-media {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .burger {
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }
  .burger div {
    width: 25px;
    height: 4px;
    background-color: #000;
    margin: 2px 0;
  }

  .nav {
    width: 100%;
    position: relative;
    display: none;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    width: 665px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    top: 10px;
    left: 0;
    right: 0;
  }

  .nav__list a {
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
  }
  .nav__item {
    margin-top: 10px;
    padding: 0;
  }
  .nav__item:last-child {
    margin-bottom: 20px;
  }

  .nav > ul > li > a:hover {
    background-color: white;
    color: #9174ce;
  }
  /* .list--visiable {
    visibility: hidden;
  } */
  .list--active-hidden {
    visibility: hidden;
  }
  .list-activ-block {
    display: none;
  }
  .list--active-visible {
    visibility: visible;
  }

  /* SECTION PRODUCTS */

  .products__inner__top {
    display: grid;
    grid-template-columns: 451px 219px;
    grid-gap: 15px;
    align-items: center;
    height: 258px;
    margin-bottom: 30px;
  }
  .top__slides {
    margin-top: 10px;
  }
  .top__slide-img {
    width: 100%;
    height: 100%;
  }
  .top__subslides {
    margin-top: -7px;
  }
  .subslides-img-1,
  .subslides-img-2 {
    width: 100%;
    height: 100%;
  }
  .arrow {
    display: none;
    visibility: hidden;
  }
  .subslides-img-1,
  .subslides-img-2 {
    margin-top: 10px;
  }
  .products__inner__bottom {
    margin-top: 0px;
  }
  .products__inner__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .inner__bottom-link-1,
  .inner__bottom-link-2,
  .inner__bottom-link-3 {
    width: 215px;
    height: 84px;
    padding: 24px 0px 32px 24px;
    margin-left: 2px;
  }

  .bottom-link__title {
    color: #010101;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: left;
  }
  .subslides-link-1::after {
    height: 0px;
    width: 218px;
    top: 50px;
    right: 0;
  }
  .subslides-link-1:hover::after {
    top: 10px;
    bottom: 0px;
    height: 118px;
  }
  .subslides-link-2::after {
    height: 0px;
    width: 218px;
    top: 184px;
    right: 0;
  }
  .subslides-link-2:hover::after {
    top: 144px;
    height: 118px;
  }
  .inner__bottom-link-1::after {
    width: 0;
    height: 84px;
    left: 84px;
    opacity: 0.2;
  }
  .inner__bottom-link-1:hover::after {
    width: 215px;
    left: 0;
    opacity: 0;
  }
  .inner__bottom-link-2::after {
    width: 0;
    height: 84px;
    left: 350px;
  }
  .inner__bottom-link-2:hover::after {
    width: 215px;
    left: 250px;
  }
  .inner__bottom-link-3::after {
    width: 0;
    height: 84px;
    right: 84px;
  }
  .inner__bottom-link-3:hover::after {
    width: 215px;
    right: 0;
  }
  /* SECTION OUR PRODUCTS*/
  .tabcontent {
    width: 260px;
  }
  .tabcontent__img {
    width: 180px;
    height: 220px;
  }
  .tabcontetn__img-stars {
    width: 40%;
  }
  .tabcontent__price {
    font-size: 11px;
  }
  .tabcontent__img-container {
    width: 200px;
  }
  .tabcontent__img-container img {
    width: 85%;
  }
  /* SECTION BANNER*/
  .banner__inner {
    padding-top: 0px;
  }
  .inner__fashion,
  .inner__dron,
  .inner__special:not() {
    width: 337px;
    height: 144px;
  }
  .fashion__content {
    padding: 70px 0px 0px 184px;
    text-align: left;
  }
  .fashion__sale {
    line-height: 15px;
    font-size: 10px;
  }
  .fashion__title {
    font-size: 18px;
    line-height: 20px;
    margin-top: 5px;
  }
  .fashion__subtitle {
    margin-top: 5px;
    line-height: 15px;
  }
  .summer-special {
    padding-left: 236px;
  }

  /*SERVICES*/
  .sevices__inner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  /*FOOTER*/
  .footer__inner {
    margin-top: 50px;
    flex-direction: column;
  }
  .footer__inner h2 {
    cursor: pointer;
    display: block;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0;
  }
  .location__list-title {
    display: block;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0;
    cursor: pointer;
  }
  .location__list {
    position: relative;
  }
  .location__img-arrow {
    width: 3%;
    position: absolute;
    top: 0;
    right: 30px;
    transform: rotate(270deg);
  }

  .form__input-area,
  .social__list,
  .footer__account__list,
  .info__list,
  .location__list {
    display: none;
  }
  .socials {
    max-width: 218px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .social__list {
    flex-direction: row;
  }
  .social__title {
    display: block;
  }
  .copyright {
    flex-direction: column;
    align-items: center;
  }
  .accordeon_arrow {
    display: block;
  }
}

@media (max-width: 724px) {
  .container {
    width: 390px;
    padding: 10px 15px;
  }

  .nav {
    display: none;
  }

  .header-logo {
    display: none;
  }
  .media__724 {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .title__account {
    display: none;
  }
  .header__right-div {
    margin-left: 126px;
  }
  .header__right-img-cart {
    margin-right: 12px;
  }
  .header__search-img-media {
    right: 190px;
    top: 189px;
  }
  .header__account {
    margin-right: 10px;
  }
  .nav__list {
    max-width: 300px;
  }
  /*SECTION PRODUCT*/
  .products__inner__top {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 258px;
    margin-bottom: 30px;
  }
  .top__slides {
    width: 350px;
    margin-top: 10px;
  }

  .top__subslides {
    display: flex;
    flex-direction: row;
  }
  .subslides-img-1,
  .subslides-img-2 {
    width: 168px;
    height: 91px;
    margin-right: 10px;
  }
  .subslides-link:not(:last-child) {
    margin-right: 10px;
  }
  .products__inner__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
  .inner__bottom-link-1,
  .inner__bottom-link-2,
  .inner__bottom-link-3 {
    width: 350px;
    height: 136px;
    margin-left: -10px;
    margin-top: 10px;
  }
  .subslides-link-1::after {
    height: 0px;
    width: 168px;
    top: 40px;
    left: 0;
    opacity: 0.2;
    height: 0px;
  }
  .subslides-link-1:hover::after {
    top: 10px;
    bottom: 0px;
    height: 90px;
  }
  .subslides-link-2::after {
    height: 0px;
    width: 168px;
    top: 40px;
    right: 10px;
    opacity: 0.2;
    height: 0px;
  }
  .subslides-link-2:hover::after {
    top: 10px;
    bottom: 0px;
    height: 90px;
  }

  .inner__bottom-link-1::after {
    width: 0;
    height: 136px;
    left: 170px;
    top: 10px;
  }
  .inner__bottom-link-1:hover::after {
    width: 350px;
    left: -10px;
    top: 10px;
  }

  .inner__bottom-link-2::after {
    width: 0;
    height: 136px;
    left: 170px;
    top: 168px;
  }
  .inner__bottom-link-2:hover::after {
    width: 350px;
    left: -10px;
    top: 168px;
  }
  .inner__bottom-link-3::after {
    width: 0;
    height: 136px;
    left: 170px;
    top: 326px;
  }
  .inner__bottom-link-3:hover::after {
    width: 350px;
    left: -10px;
    top: 326px;
  }
  /*OUR PRODUCTS*/
  .our__products__header {
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .tabheader__items {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .tab__arrow-left {
    right: 40px;
  }
  .tab__arrow-right {
    right: 10px;
  }
  .tabheader__item {
    margin-top: 10px;
  }
  .tabcontent {
    width: 200px;
  }
  .tabcontent__img {
    width: 153px;
    height: 192px;
  }
  .tabcontetn__img-stars {
    width: 45%;
  }
  .tabcontent__price {
    font-size: 12px;
  }

  .tabcontent__img-container {
    width: 140px;
    margin-right: 0px;
  }
  .tabcontent__img-container img {
    width: 100%;
  }

  /*SECTION BANNER*/
  .banner__inner {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }
  .inner__fashion,
  .inner__dron {
    width: 350px;
    height: 150px;
  }
  .inner__special {
    margin-top: 15px;
    height: 74px;
    width: 350px;
  }
  .fashion__content {
    padding: 31px 0px 0px 202px;
  }
  .summer-special {
    width: 300px;
    padding: 16px 0px 0px 116px;
  }
  .fashion__title {
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .fashion__sale {
    line-height: 16px;
    font-size: 14px;
  }
  .fashion__subtitle {
    margin-top: 5px;
    line-height: 15px;
  }
  .inner__special > div > h3 {
    display: none;
  }

  /*SECTION SPONSORS*/
  .sponsors__arrow-right,
  .sponsors__arrow-left {
    top: 40%;
  }
  /*SECTIOB SERVICES*/
  .sevices__inner {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .services__inner__item img {
    width: 50px;
    height: 50px;
  }
  .services__inner__item:not(:last-child) {
    border-right: none;
  }
  /*SECTION FOOTER*/
  .copyright {
    margin-top: 20px;
    padding-top: 10px;
  }
  .pay {
    margin-top: 10px;
  }
  .footer-arrow__link-movie {
    display: block;
    scroll-behavior: smooth;
    background: url("./img/arrow_footer.svg");
    height: 40px;
    width: 40px;
    right: 8px;
    bottom: 5px;
    display: none;
    position: fixed;
    z-index: 95;
    font-size: 0;
  }
}
