.footer__inner {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.location__item {
  display: flex;
  text-align: left;
  margin-top: 30px;
  max-width: 265px;
  align-items: center;
}

.location__img {
  margin-right: 10px;
}

.info__img,
.account__img {
  transform: rotate(180deg);
  margin-right: 10px;
}

.location__text {
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: 1.3px;
  color: #808080;
}
.info__item {
  display: flex;
  margin-top: 10px;
  color: #808080;
  cursor: pointer;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.3px;
}
.info__item:hover {
  color: #9174ce;
}

.footer__account__item {
  display: flex;
  margin-top: 10px;
  color: #808080;
  cursor: pointer;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.3px;
}
.footer__account__item:hover {
  color: #9174ce;
}

.info__form-title {
  color: #000;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0;
}

.form__input {
  background: #f5f5f5;
  border: none;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  outline: none;
}

.info__form-btn {
  background: #9174ce;
  border: none;
  font-size: 12px;
  height: 47px;
  margin-left: -10px;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
}

.socials {
  max-width: 216px;
  margin-top: 50px;
  cursor: pointer;
}
.social__title {
  display: none;
}

.socials > div img {
  background-color: #e8e8e8;
  border-radius: 50%;
  padding: 10px;
}

.copyright {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  padding-top: 30px;
  position: relative;
}

.copyright__text {
  color: #838383;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.pay img {
  opacity: 0.4;
  cursor: pointer;
}
.pay img:hover {
  opacity: 1;
}

.location__img-arrow {
  display: none;
}
.accordeon_arrow {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.inner__info-store-arrow,
.inner__info-account-arrow,
.inner__info-sign-arrow,
.inner__info-social-arrow {
  right: 20px;
}
.inner__info-arrow {
  right: 20px;
  transform: rotateX(360deg);
}

.rotate__accordeon-arrow {
  transition: all 1s linear;
  transform: rotateX(-180deg);
}
.arrow__to-move {
  width: 50px;
  height: 50px;
  background-color: #9174ce;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  position: fixed;
  display: none;
}
.footer-arrow__link-movie {
  scroll-behavior: smooth;
  font-size: 24px;
}
